{% extends "base.html" %}
{% block stylesheet %}

    <link rel="stylesheet" type="text/css" href="/static/css/base.css" title="standard-css1" />
    <link href="/static/css/forms.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/select2-amc-min.css" rel="stylesheet" type="text/css" />

    <style type="text/css">

    </style>
{% endblock %}

{% block script %}

  <script type="application/javascript" language="JavaScript" src="/static/js/Validation.js"></script>
    
    <script type="application/javascript" src="/static/js/jquery-date.js"></script>
    <script type="application/javascript" src="/static/js/select2.js"></script>
    <link href="/static/css/jquery-daterange-ui.css" rel="stylesheet" type="text/css" />
    <script type="application/javascript" src="/static/js/jquery-daterange-ui.js"></script>
    <script src="/static/js/jquery.validate.min.js"></script>
    <script src="/static/js/additional-methods.min.js"></script>
  
    <style type="text/css">
        
        .element { width: 50%; float: left;  }
        .field { width: 59%; float:left; min-height: 35px;}
        .label { width: 41%; float: left; min-height: 35px;}
        input[type=text]{ width:160px;}
        select { width: 170px; }
        .SaveAndCancel { width:100%; clear:both; }
        form {padding: 10px; width: 48%; font-family: Liberation Serif; 
            font-size: 15px;}
        .header{ margin-left: 1%; }
    </style>
    <script type="text/javascript">

        
</script>

{% endblock %}
{% block programcontent %} {% endblock %}
{% block programmenu %}{% endblock %}
{% block taskmenus %}{% endblock %}
{% block contentdata %}
    <div class="header">Change Password</div>
    
    <form  id="report_form" name="report_form" action="" method="POST">
        {% csrf_token %}
        <div id="msg1"> 

            {% if messages %}
                {% for message in messages %}
                    <div class="message {{ message.tags }}"><h4>{{ message }}</h4></div>
                {% endfor %}
            {% endif %}
        </div>        
        <br><br>
        {% for field in password_reset_form %}
            <div class="label">{{field.label}}: </div><div class="field">{{field}}</div>
        {% endfor %} 
        <button type="submit" >Change password</button>
            {% endblock %}
        </form>
